.login {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 900px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.imgd {
  top: -51px;
  left: -35.99998474121094px;
  opacity: 1;
  position: absolute;
}
.imgd img {
  opacity: 1;

  width: 280px;
  height: 278px;
  top: -30px;
  left: -20px;
  position: absolute;
}

.imgl {
  padding-bottom: 50px;
  top: 227px;
  left: 15%;
  width: 288px;
  height: 216px;
  /* UI Properties */
  background: url("./img2.png") 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.formcont {
  height: 880px;
  width: 720px;
  display: flex;

  flex-direction: column;
  right: 0;
  background: #f4f8ff 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  margin-left: 100px;
}
.formcont h1 {
  top: 140px;
  left: 169px;
  font: var(--unnamed-font-style-normal) normal bold 28px/34px
    var(--unnamed-font-family-helvetica-neue);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2d3436);
  text-align: left;
  font: normal normal bold 28px/34px Helvetica Neue;
  letter-spacing: 0px;
  color: #2d3436;
  opacity: 1;
  position: absolute;
}
.form {
  top: 195px;
  left: 169px;
  position: absolute;
}
.form p {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-helvetica-neue);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-009ad2);
  text-align: left;
  font: normal normal normal 16px/24px Helvetica Neue;
  letter-spacing: 0px;
  color: #009ad2;
  opacity: 1;
  margin-top: 2px;
  margin-bottom: 0px;
}

.form label p {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-helvetica-neue);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 16px/24px Helvetica Neue;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 25px;
  margin-bottom: 10px;
}
.formcont input {
  left: 169px;
  width: 333px;
  height: 40px;
  border: 1px solid var(--unnamed-color-b9c4c8);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b9c4c8;
  border-radius: 4px;
  opacity: 1;
}

.formcont .button {
  top: 265px;
  /* UI Properties */
  background: var(--unnamed-color-009ad2) 0% 0% no-repeat padding-box;
  position: absolute;
}

.formcont button {
  background: var(--unnamed-color-009ad2) 0% 0% no-repeat padding-box;
  background: #009ad2 0% 0% no-repeat padding-box;
  border-color: #009ad2;

  width: 333px;
  height: 35px;
  border-radius: 4px;
  font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-helvetica-neue);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 16px/24px Helvetica Neue;
  letter-spacing: 0px;
  color: #ffffff;
}

.loginfp {
  position: absolute;
  top: 220px;
  left: 15px;

  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-helvetica-neue);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-009ad2);
  text-align: left;
  color: #009ad2;
}

.logineye {
  top: 175px;
  left: 300px;
  width: 20px;
  height: 19px;
  color: #636e72;
  opacity: 1;
  position: absolute;
}

/*.login_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #3bb19b;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.right h1 {
	margin-top: 0;
	color: white;
	font-size: 40px;
	align-self: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: #3bb19b;
	color: white;
	margin: 10px;
}*/
