.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    flex-wrap: nowrap;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 20px #636E721A;
    opacity: 1;
}

.nav .logo {
  position: absolute;
  left: 30px;
  top: 10px
}
.nav .logo img{
    position: absolute;
    top:20px;
    left: 20px;
    
    width: 15px;
height: 10px;
   
}

.nav .btn button{
    right: 20px;
    top: 5px;
    background: #009AD2 0% 0% no-repeat padding-box;
    border-color:  #009AD2;
    position: absolute;
    border-radius: 4px;
}